{% extends "layout.html" %}

{% block title %}{{ post.title }} - {{ BLOG_TITLE }}{% endblock %}

{% block sidebar %}
    <br />
    Views: {{ post.views }}
{% endblock %}




{% block content %}

  <header>
    <h1>{{ BLOG_TITLE }}'s Blog</h1>
    <h3 class="date">Preview/</h3>
  </header>
        <article id="post-{{ post.key.id }}">
            <h2>
            	<a href="/{{post.slug}}" class="no-link title">{{ post.title }}</a>
            </h2>
            
            <section class="content">
              {% autoescape off %}   {{ post.htmltext }} {% endautoescape %} 
              
			</section>
		
              
            {% if is_admin %}
                <ul class="actions">
                    <li><a href="/admin/edit/{{post.key.id }}">Edit</a></li>
                </ul>
            {% endif %}
		</article>


  <footer id="paginate">
   	            {% if is_admin %}
                    <a href="/admin/edit/{{post.key.id }}">&larr;&nbsp;&nbsp;&nbsp;Edit</a><br/>
            {% endif %}
    </footer>

{% endblock %}